html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
body {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    background: #B2EAC4;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 110%;
    line-height: 1.6;
}

#app {
    margin-top: 170px;
    margin-bottom: 900px;
    width: 300px;
    padding: 15 70px 55px;
    background: #0F4C5C;
    border-radius: 10px;
    color: white;
}

div {
    display: block;
}